<h1>Control Room</h1>

<h2>Hacklifts</h2>
<div id="hacklifts">
  <%= render @hacklifts %>
</div>

<h2>Hackdoors</h2>
<div id="hackdoors">
  <%= render @hackdoors %>
</div>

<h2>Messages</h2>
<div id="messages">
  <%= render @messages %>
</div>

<form>
  <label>Say something:</label><br>
  <input type="text" data-behavior="room_speaker">
</form>
