<div class="hacklift">
  <form>
    <br>
    <label>Raise Hacklift</label><br>
    <input type="checkbox" data-behavior="room_raiser" name="sector" value="<%= hacklift.sector %>">

    <br>
    <label>Lower Hacklift</label><br>
    <input type="checkbox" data-behavior="room_lower" name="sector" value="<%= hacklift.sector %>">
  </form>
</div>
