<div class="hacklift">
  <p>Raise/Lower:  
  <%= check_box("hacklift", "sector", {data: {:behavior => "room_raiser"}}, "#{hacklift.sector}", "#{hacklift.sector}") %>
  <%= check_box("hacklift", "sector", {data: {:behavior => "room_lower"}}, "#{hacklift.sector}", "#{hacklift.sector}") %>
  </p>
</div>
