<div class="hacklift">
  <form>
    <label>Raise Hacklift</label><br>
    <input type="checkbox" data-behavior="room_raiser" sectorid=<%= hacklift.sector %>>

    <label>Lower Hacklift</label><br>
    <input type="checkbox" data-behavior="room_lower" sectorid=<%= hacklift.sector %>>
  </form>
</div>
