// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.challenge span {
width:100%;
height:100%;
position:absolute;
z-index:2;
top:0px;
left:0px;
}
